<!-- 头部 start -->
<div id="header-app">
    <header id="header">

        <div class="top_banner">
            <img src="images/top_banner.jpg" alt="">
        </div>
        <div class="shortcut" v-on="">
            <!-- 未登录状态  -->
            <div class="login_out" v-if="!isLogin">
                <a href="login.html">登录</a>
                <a href="register.html">注册</a>
            </div>
            <!-- 登录状态  -->
            <div class="login" v-if="isLogin">
                <span>欢迎回来 {{username}}</span>
                <a href="myfavorite.html" class="collection">我的订单</a>
                <a class="logout" @click="clearLocal">退出</a>
            </div>
        </div>
        <div class="header_wrap">
            <div class="topbar">
                <div class="logo">
                    <a href="/"><img src="images/logo.jpg" alt=""></a>
                </div>
                <div class="search">
                    <input name="" type="text" placeholder="请输入路线名称" v-model="search_keyword" class="search_input"
                        autocomplete="off">
                    <button class="search-button" @click="search_all_imgs" style="cursor: hand;">搜索</button>
                </div>
                <div class="hottel">
                    <div class="hot_pic">
                        <img src="images/hot_tel.jpg" alt="">
                    </div>
                    <div class="hot_tel">
                        <p class="hot_time">客服热线(9:00-6:00)</p>
                        <p class="hot_num">400-618-9191</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 end -->
    <!-- 首页导航 -->
    <div class="navitem">
        <ul class="nav">
            <li class="nav-active"><a href="index.html">首页</a></li>
            <li><a href="route_list.html">门票</a></li>
            <li><a href="route_list.html">酒店</a></li>
            <li><a href="route_list.html">香港车票</a></li>
            <li><a href="route_list.html">出境游</a></li>
            <li><a href="route_list.html">国内游</a></li>
            <li><a href="route_list.html">港澳游</a></li>
            <li><a href="route_list.html">抱团定制</a></li>
            <li><a href="route_list.html">全球自由行</a></li>
            <li><a href="favoriterank.html">收藏排行榜</a></li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let mv = new Vue({
        el: "#header-app",
        data: {
            username: '',
            password: '',
            loginflag: false,
            isLogin: false,
            search_keyword: "",
            all_img_header: "",
        },
        created() {
            if (localStorage.getItem("username") != null) {
                this.username = localStorage.getItem("username");
                this.isLogin = true;
            }
        },
        methods: {
            //搜索当前项目
            search_all_imgs: function () {
                //搜索当前项目
                let self = this;
                axios.get('http://tripdemo.12138.site/items', {       // 还可以直接把参数拼接在url后边
                    params: { "name": self.search_keyword }
                }).then(function (res) {
                    // console.log(res.data.data);
                    self.all_img_header = res.data.data;
                    // console.log(self.all_img_header);
                    window.localStorage.removeItem("all_img_header");
                    window.localStorage.setItem("all_img_header", JSON.stringify(self.all_img_header));
                    window.location.href = "route_list.html";
                }).catch(function (error) {
                    console.log(error);
                });
            },
            clearLocal: function () {
                localStorage.clear();
                window.location.reload();
            }
        }
    })
</script>
<style>
    .logout {
        color: aqua;
        cursor: pointer;
    }
</style>