<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>去哪儿网</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- 增加vue框架 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- 增加axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="js/include.js"></script>
</head>

<body>
    <style>
        .mid-hot-img {
            width: 460px;
            height: 180px;
            overflow: hidden;
        }

        .mid-all-img {
            width: 460px;
            height: 130px;
            overflow: hidden;
        }
    </style>
    <script>
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    </script>
    <!--引入头部-->
    <div id="header">
        <!-- 头部 start -->
        <!-- 头部 end -->
        <!-- 首页导航 -->
    </div>
    <!--导入底部-->
    <div class="mainbody">
        <!-- banner start-->
        <section id="banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <center><img src="./img/index/i1.jpg" alt=""></center>
                    </div>
                    <div class="item">
                        <center><img src="./img/index/i2.jpg" alt=""></center>
                    </div>
                    <div class="item">
                        <center><img src="./img/index/i3.jpg" alt=""></center>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <!-- banner end-->
        <!-- 旅游 start-->
        <section id="content">
            <!-- 去哪儿网精选start-->
            <section class="hemai_jx">
                <div class="jx_top">
                    <div class="jx_tit">
                        <img src="images/icon_5.jpg" alt="">
                        <span>去哪儿网</span>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="jx_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <span>
                                <a href="#popularity" aria-controls="popularity" role="tab"
                                    data-toggle="tab">人气旅游</a></span>
                        </li>
                    </ul>
                </div>
                <div class="jx_content">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="popularity">
                            <div class="row">
                                <div class="col-md-3" v-for="(img,index) in hot_img">
                                    <button @click="gotoHotDetail(index)" v-if="index<=3">
                                        <!-- 不受控制的地方 -->
                                        <img :src="img['imageUrl']" alt="" class="mid-hot-img">
                                        <div class="has_border">
                                            <h3>{{img['name']}}</h3>
                                            <div class="price">
                                                网付价<em>￥</em><strong>{{img['originalCost']}}</strong><em>起</em>
                                                <em style="margin-left: 100px;">{{img['location']}}</em><em
                                                    style="color:red; margin-left: 15px;">{{img['type']}}</em></div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 去哪儿网精选end-->
            <!-- 国内游 start-->
            <section class="hemai_jx">
                <div class="jx_top">
                    <div class="jx_tit">
                        <img src="images/icon_6.jpg" alt="">
                        <span>国内游</span>
                    </div>
                    <div class="jx_tit" style="float:right" align="right">
                        <a href="favoriterank.html">更多</a>
                    </div>
                </div>
                <div class="heima_gn">
                    <div class="guonei_l">
                        <img style="height: 70%;margin-top: 50px;" src="img/index/code.png" alt="">
                    </div>
                    <div class="guone_r">
                        <div class="row">
                            <div class="col-md-4" v-for="(img,index) in all_img" style="margin-top: 4px;">
                                <button style="height: 260px;" @click="gotoDetail(index)">
                                    <img :src="img['imageUrl']" alt="" class="mid-all-img">
                                    <div class="has_border">
                                        <h3>{{img['name']}}</h3>
                                        <div class="price">
                                            网付价<em>￥</em><strong>{{img['originalCost']}}</strong><em>起</em>
                                            <em style="margin-left: 60px;">{{img['location']}}</em>
                                            <em style="color:red; margin-left: 10px;">{{img['type']}}</em>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 国内游 end-->
        </section>
        <!-- 旅游 end-->
    </div>
    <div id="footer">
        <script>
            vm = new Vue({
                el: ".mainbody",
                data: {
                    hot_img: [],//热门项目
                    all_img: [],//所有项目
                },
                methods: {
                    gotoDetail(index) {
                        window.localStorage.setItem("all_img_header", JSON.stringify(this.all_img));
                        window.localStorage.setItem("order_index", index);
                        // console.log(window.localStorage.getItem("all_img_header"));
                        window.location.href = "route_detail.html";
                        window.localStorage.setItem("path", 1);
                    },
                    gotoHotDetail(index) {
                        window.localStorage.setItem("all_img_header", JSON.stringify(this.hot_img));
                        window.localStorage.setItem("order_index", index);
                        // console.log(window.localStorage.getItem("all_img_header"));
                        window.location.href = "route_detail.html";
                        window.localStorage.setItem("path", 1);
                    }
                },
                created: function () {
                    let self = this;
                    //获取热门项目
                    axios.get('http://tripdemo.12138.site//items/hot', {       // 还可以直接把参数拼接在url后边
                        params: {}
                    }).then(function (res) {
                        self.hot_img = res.data.data;
                        console.log(self.hot_img);
                    }).catch(function (error) {
                        console.log(error);
                    });
                    // 获取所有项目
                    axios.get('http://tripdemo.12138.site//items', {       // 还可以直接把参数拼接在url后边
                        params: {}
                    }).then(function (res) {
                        self.all_img = res.data.data;
                        console.log(self.all_img);
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
            })
        </script>

</body>


</html>