<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>去哪儿网-登录</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!--导入jquery-->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/common.js"></script>
    <script>
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    </script>
</head>

<body>

    <div id="app">
        <!--引入头部-->
        <div id="header"></div>
        <section id="login_wrap">
            <div class="fullscreen-bg" style="background: url(images/login_bg.png);height: 532px;">

            </div>
            <div class="login-box">
                <div class="title">
                    <!--<img src="images/login_logo.png" alt="">-->
                    <span>欢迎登录去哪儿旅游账户</span>
                </div>
                <div class="login_inner">
                    <!--登录错误提示消息-->
                    <form id="loginForm" action="" @keydown="keydownDel" method="post" accept-charset="utf-8">
                        <input type="hidden" name="action" value="login" />
                        <input style="cursor: text;" name="username" type="text" placeholder="请输入邮箱/手机号/用户名"
                            autocomplete="off" v-model="username">
                        <input style="cursor: text;" name="password" type="password" placeholder="请输入密码"
                            autocomplete="off" v-model="password">
                        <div class="submit_btn">
                            <input class="title" type="button" value="登录" @click="startLogin">
                            <!--<button class="title"  @click="userLogin">登录</button>-->
                        </div>
                    </form>
                    <div class="reg"><a class="abox" href="register.html">立即注册</a><a href="forget.html">找回密码</a></div>
                </div>
            </div>
        </section>
        <!--引入尾部-->
        <div id="footer"></div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="js/include.js"></script>
</body>

<script>
    let vm = new Vue({
        el: "#app",
        data: {
            username: '',
            password: ''
        },
        created() {
            if (localStorage.getItem("username") != null) {
                this.showMsg("您已登录，请勿重复登录");
                window.location.href = "index.html";
            }
        },
        methods: {
            // 处理键盘事件
            keydownDel: function (event) {
                // 判断是否按下回车
                if (event.key == "Enter") {
                    // 按下Enter即登录
                    this.startLogin()
                }
            },
            showMsg: function (msg) {
                alert(msg);
            },
            startLogin: function () {
                if (localStorage.getItem("username")) {
                    this.showMsg("请勿重复登录");
                    return;
                }
                this.userLogin();
            },

            userLogin: function () {
                //console.log(this.username+" "+this.password);//成功了应该发送申请
                let _this = this;
                let params = new URLSearchParams();
                params.append('identify', this.username);
                params.append('password', this.password);
                axios
                    .post(window.domain + '/users/auth', params)
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.data === "") {
                            _this.showMsg(response.data.mes);
                            console.log("登陆失败");
                        } else {
                            window.localStorage.setItem("userId", response.data.data.id);
                            window.localStorage.setItem("token", response.data.data.token);
                            console.log(response.data.data.id);
                            axios
                                .get(window.domain + '/users/' + response.data.data.id)
                                .then(function (response) {
                                    console.log(response);
                                    window.localStorage.setItem("username", response.data.data.username);
                                    window.setTimeout("window.location='index.html'", 100);
                                })
                                .catch(function (error) {
                                    console.log(error);
                                })
                        }
                        //console.log(localStorage.getItem("userId")+ " " + localStorage.getItem("token"));
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                        console.log(params);
                        //跳转到错误页面
                        //window.location.href="error.html?msg="登录出错";
                        //console.log(_this.username+" "+_this.password);
                    });
            }
        }
    })
</script>
<style>
    .title {
        padding-bottom: 20px;
    }

    .abox {
        padding-right: 20px;
    }
</style>

</html>