<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>路线详情</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/route-detail.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="js/include.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script>
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    </script>
</head>

<body>
    <div id="header"></div>
    <!-- 详情 start -->
    <div class="wrap" id="app">
        <div class="bread_box">
            <a href="/">首页</a>
            <span> &gt;</span>
            <a href="#">国内游</a><span> &gt;</span>
            <a href="#">{{item['name']}}</a>
        </div>
        <div class="prosum_box">
            <dl class="prosum_left">
                <dt>
                    <img alt="" class="big_img" :src="item['imageUrl']">
                </dt>
                <dd>
                    <a class="up_img up_img_disable"></a>
                    <a title="" class="little_img">
                        <img :src="item['imageUrl']">
                    </a>
                    <a class="down_img down_img_disable" style="margin-bottom: 0;"></a>
                </dd>
            </dl>
            <div class="prosum_right">
                <p class="pros_title">{{item['name']}}</p>
                <p class="hot">1-2月出发，网付立享￥1099/2人起！ 爆款位置有限，抢完即止！</p>
                <div class="pros_other">
                    <p style="font-weight: bolder;">经营商家 ：901梦之队</p>
                    <p>咨询电话 : +86-1008611</p>
                    <p>地址 : {{item['location']}}</p>
                </div>
                <div class="pros_price">
                    <p class="price"><strong>￥{{item.currentCost}}</strong><span>起</span></p>
                    <p class="collect">
                        <a class="btn" @click="favorit" v-if="!isFavor"><i
                                class="glyphicon glyphicon-heart-empty"></i>点击收藏</a>
                        <a class="btn already" disabled="false" v-else><i
                                class="glyphicon glyphicon-heart-empty"></i>已收藏</a>
                        <a class="btn" @click="addItem" v-if="!isChoose"><i
                                class="glyphicon glyphicon-heart-empty"></i>加入订单</a>
                        <a class="btn already" disabled="false" v-else><i
                                class="glyphicon glyphicon-heart-empty"></i>已添加</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="you_need_konw">
            <span>旅游须知</span>
            <div class="notice">
                <p>1、旅行社已投保旅行社责任险。建议游客购买旅游意外保险 <br>

                <p>2、旅游者参加打猎、潜水、海边游泳、漂流、滑水、滑雪、滑草、蹦极、跳伞、滑翔、乘热气球、骑马、赛车、攀岩、水疗、水上飞机等属于高风险性游乐项目的，敬请旅游者务必在参加前充分了解项目的安全须知并确保身体状况能适应此类活动；如旅游者不具备较好的身体条件及技能，可能会造成身体伤害。
                </p>

                <p>3、参加出海活动时，请务必穿着救生设备。参加水上活动应注意自己的身体状况，有心脏病、冠心病、高血压、感冒、发烧和饮酒及餐后不可以参加水上活动及潜水。在海里活动时，严禁触摸海洋中各种鱼类，水母，海胆，珊瑚等海洋生物，避免被其蛰伤。老人和小孩必须有成年人陪同才能参加合适的水上活动。在海边游玩时，注意保管好随身携带的贵重物品。
                </p>

                <p>4、根据中国海关总署的规定，旅客在境外购买的物品，在进入中国海关时可能需要征收关税。详细内容见《中华人民共和国海关总署公告2010年第54号文件》。</p>

                <p>5、建议出发时行李托运，贵重物品、常用物品、常用药品、御寒衣物等请随身携带，尽量不要托运。行李延误属于不可抗力因素，我司将全力协助客人跟进后续工作，但我司对此不承担任何责任。</p>
            </div>
        </div>

        <div class='you_need_konw'>
            <span>用户评论</span>
            <div class=""></div>
            <div class="comment" v-for="(info,index) in commentList">
                <div>{{info['username']}}</div>
                <div>{{getLocalTime(info['createTime'])}}</div>
                <div>{{info['content']}}</div>
            </div>
        </div>

    </div>
    <!-- 详情 end -->
    <!--引入头部-->
    <div id="footer">
        <!-- 尾部 start-->
    </div>

    <script>
        $(document).ready(function () {
            //焦点图效果
            //点击图片切换图片
            $('.little_img').on('mousemove', function () {
                $('.little_img').removeClass('cur_img');
                var big_pic = $(this).data('bigpic');
                $('.big_img').attr('src', big_pic);
                $(this).addClass('cur_img');
            });
            //上下切换
            var picindex = 0;
            var nextindex = 4;
            $('.down_img').on('click', function () {
                var num = $('.little_img').length;
                if ((nextindex + 1) <= num) {
                    $('.little_img:eq(' + picindex + ')').hide();
                    $('.little_img:eq(' + nextindex + ')').show();
                    picindex = picindex + 1;
                    nextindex = nextindex + 1;
                }
            });
            $('.up_img').on('click', function () {
                var num = $('.little_img').length;
                if (picindex > 0) {
                    $('.little_img:eq(' + (nextindex - 1) + ')').hide();
                    $('.little_img:eq(' + (picindex - 1) + ')').show();
                    picindex = picindex - 1;
                    nextindex = nextindex - 1;
                }
            });
            //自动播放
            var timer = setInterval("auto_play()", 2000);
        });

        //自动轮播方法
        function auto_play() {
            var cur_index = $('.prosum_left dd').find('a.cur_img').index();
            cur_index = cur_index - 1;
            var num = $('.little_img').length;
            var max_index = 3;
            if ((num - 1) < 3) {
                max_index = num - 1;
            }
            if (cur_index < max_index) {
                var next_index = cur_index + 1;
                var big_pic = $('.little_img:eq(' + next_index + ')').data('bigpic');
                $('.little_img').removeClass('cur_img');
                $('.little_img:eq(' + next_index + ')').addClass('cur_img');
                $('.big_img').attr('src', big_pic);
            } else {
                var big_pic = $('.little_img:eq(0)').data('bigpic');
                $('.little_img').removeClass('cur_img');
                $('.little_img:eq(0)').addClass('cur_img');
                $('.big_img').attr('src', big_pic);
            }
        }
    </script>
</body>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            item: "",
            all_img_list: "",
            isFavor: false,
            isChoose: false,
            commentList: "",
            commentInfo: "",
            itemFinal: ""//最终item id
        },
        created: function () {
            let self = this;
            let index = window.localStorage.getItem("order_index");
            this.item = JSON.parse(window.localStorage.getItem("all_img_header"))[index];
            console.log(this.item);
            //获取收藏状态
            axios.get('http://tripdemo.12138.site/favours', {       // 还可以直接把参数拼接在url后边
                headers: {
                    "token": window.localStorage.getItem("token")
                },
                params: {},
            }).then(function (res) {
                console.log(self.item);
                for (i = 0; i < res.data.data.length; i++) {
                    if (res.data.data[i]['item'] == self.item['item'] || res.data.data[i]['item'] == self.item['id'] && res.data.data[i]['user'] == window.localStorage.getItem('userId')) {
                        self.isFavor = true;
                    }
                }
                console.log(self.isFavor);
                console.log(res.data);
            }).catch(function (error) {
                console.log(error);
            });
            //获取评论状态
            self.itemFinal = self.item['id']
            $.ajax({
                url: "http://tripdemo.12138.site/comments",
                method: "GET",
                data: {
                    itemId: self.item['id']
                },
                headers: {
                    token: window.localStorage.getItem("token"),
                },
                success: (res) => {
                    // console.log(JSON.parse(res));
                    // console.log(555);
                    if (window.localStorage.getItem("path") == 2) {
                        self.itemFinal = self.item['item']
                        // console.log(666);
                        $.ajax({
                            url: "http://tripdemo.12138.site/comments",
                            method: "GET",
                            data: {
                                itemId: self.item['item']
                            },
                            headers: {
                                token: window.localStorage.getItem("token"),
                            },
                            success: (res1) => {
                                // console.log(JSON.parse(res1));
                                self.commentList = JSON.parse(res1).data;
                                console.log(self.commentList);
                                return;
                            }
                        })
                    }
                    self.commentList = JSON.parse(res).data;
                    console.log(self.commentList);
                }
            })
        },
        methods: {
            //格式化时间
            getLocalTime: function (nS) {
                let time = new Date(nS * 1000)
                return time.getFullYear() + "-" + (time.getMonth() - 0 + 1) + "-" + time.getDate() + " " + time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds()
            },
            //添加订单
            addItem: function () {
                let self = this;
                $.ajax({
                    url: "http://tripdemo.12138.site/indents/",
                    method: "POST",
                    data: {
                        itemId: self.item['id'],
                    },
                    headers: {
                        token: window.localStorage.getItem("token"),
                    },
                    success: (res) => {
                        console.log(JSON.parse(res))
                        self.isChoose = true;
                        alert('添加成功！');
                    }
                })
            },
            favorit: function () {
                let self = this;
                let changedata = {
                    itemId: self.item['id']
                }
                // console.log(window.domain);
                // console.log(window.localStorage.getItem("token"));
                //获取收藏状态
                $.ajax({
                    url: "http://tripdemo.12138.site/favours/",
                    method: "POST",
                    data: {
                        itemId: self.item['id'],
                    },
                    headers: {
                        token: window.localStorage.getItem("token"),
                    },
                    success: (res) => {
                        console.log(JSON.parse(res))
                        self.isFavor = true;
                        alert('收藏成功！');
                    }
                })
            }
        }
    })
</script>

</html>